DATABASE_URL=

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app

GITHUB_CLIENT_ID= 
GITHUB_CLIENT_SECRET= 
GOOGLE_CLIENT_ID= 
GOOGLE_CLIENT_SECRET= 

OPENROUTER_API_KEY=
MOONSHOT_API_KEY=


EXA_API_KEY=
FIRECRAWL_API_KEY=

DODO_PAYMENTS_API_KEY=
DODO_PAYMENTS_WEBHOOK_SECRET=